<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Journal In Progress</title>
</head>
<body>
    <h1>First Page</h1>
    <canvas id="page" width="500" height="500"> </canvas>
    <br>
    <label for="freeform">Enter your thoughts here!:</label> 
    <br>
    <textarea type="Thoughts" name="Thoughts" rows="6" cols="50" placeholder= "How are you today?"></textarea>
    <script src='https://unpkg.com/fabric@latest/dist/fabric.js'></script>
    <script src="{{url_for('static', filename='canvas.js')}}"></script> 
    <button type="button" class="textbox" value="" id="add_text_button" onclick="add_text()">
</body>

</html>